@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Marcellus&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body, html {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, span {
  font-family: 'Marcellus', serif;
}

p {
  font-family: "Work Sans", sans-serif;
}

.App{
  overflow: hidden;
}

nav {z-index: 999;}

.hero {
  background-image: url("../public/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  width: auto;
}

.sezione{
  padding: 20px;
}


