.hero {
  background-image: url("../public/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  width: auto;
  height: 400px;
}

.sezione{
  padding: 20px;
}

.footer{
  height: 350px;
}