.hero {
  background-image: url("../public/hero.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  width: auto;
  height: 300px;
}

.about{
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh;
}